<section class="py-32 bg-white">
    <div
        class="px-8 md:px-16 mb-16 flex flex-col md:flex-row justify-between items-end gap-6 max-w-[1920px] mx-auto">
        <div class="space-y-4">
            <span class="text-secondary font-label-sm text-label-sm uppercase tracking-widest">Project
                Showcase</span>
            <h2 class="font-headline-lg text-headline-lg text-primary">Selected Works</h2>
        </div>
        <a class="font-label-sm text-label-sm text-primary border-b-2 border-primary pb-2 hover:text-secondary hover:border-secondary transition-all"
            href="#">VIEW ALL PORTFOLIO</a>
    </div>
    <div class="flex overflow-x-auto pb-12 gap-8 px-8 md:px-16 no-scrollbar">
        <!-- Project 1 -->
        <div class="min-w-[400px] lg:min-w-[600px] card-hover-effect cursor-pointer">
            <div class="relative h-[450px] overflow-hidden mb-6">
                <img alt="Commercial Lobby" class="w-full h-full object-cover transition-transform duration-700"
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuD7V8RphUGfxphQrQlZ3FhHcYwVu9WxW28dlE2C-bghTxM-t3uf5uupODSaVwphZJB5l92MDlz74_n2osWGwTfcvXluhIP1O9qX9HJjcMPWpDTO9VJNGKkxiatl7Kb3NN6a9OjfQpBEWWNm5MKu6aateZ8w4bhtO5LkBiq3t8pU9EwfRfcyuW486lP1Dx5JRPvc2ZxePjPnvPREc--B1LS6NGJ381RWj9fwU0JiH-OnI0TlEsJYqbJ2cjZN3pw7i7r-BfgeIdgmMxwd" />
                <div
                    class="absolute top-6 left-6 bg-primary text-white font-label-sm text-xs px-3 py-1 uppercase tracking-widest">
                    Commercial</div>
            </div>
            <h4 class="font-headline-md text-2xl text-primary mb-2">Central Plaza Interior Redesign</h4>
            <p class="font-body-md text-slate-500">Premium corporate fit-out including structural glass and custom
                metal work.</p>
        </div>
        <!-- Project 2 -->
        <div class="min-w-[400px] lg:min-w-[600px] card-hover-effect cursor-pointer">
            <div class="relative h-[450px] overflow-hidden mb-6">
                <img alt="Modern Bathroom" class="w-full h-full object-cover transition-transform duration-700"
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuDsJcLCC7Nd5Cu7kpWvYWubkL9Oq2nIDwqVBVR53FLtoDJVRs7Z7D8Ju8I2J9S9SCrN6y3_cwcRZQh3TloygKmjxt3uAwBjXYlaI70fDR3v9y6vHboQRAQit5VHLJZOrTi5WLPYpqiuT4ChqCwRsd5WeQAft9e2CILmeOAlI4bSkgf6nxaJ7rZlaNynDE62_fuM0FA6r8poz3iycMaoHBdbdsnq-NNULRpXfbRJe4lIC23Lw2rzhIeTvtzYdUxLDamCeRDNkU3Kcw-i" />
                <div
                    class="absolute top-6 left-6 bg-primary text-white font-label-sm text-xs px-3 py-1 uppercase tracking-widest">
                    Sanitary</div>
            </div>
            <h4 class="font-headline-md text-2xl text-primary mb-2">Luxury Residential Suites</h4>
            <p class="font-body-md text-slate-500">Installation of premium high-end sanitary fixtures and customized
                tiling work.</p>
        </div>
    </div>
</section>
